server "{{domain}}" {
        listen on {{publicip}} port 80
        location "/.well-known/acme-challenge/*" {
                root "/acme"
                request strip 2
        }

        location * {
                block return 302 "https://$HTTP_HOST$REQUEST_URI"
        }
}

server "{{domain}}" {
        listen on 127.0.0.1 port 80
        root "/htdocs"
}

