<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
<style>
.map { height: 700px; width: 100%;}
</style>
  </head>
  <body>
    <div id="map" class="map"></div>
    <script type="text/javascript">
      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([3.1127,45.7870]),
          zoom: 13 
        })
      });
      var cable = new ol.layer.Image({
        source: new ol.source.ImageWMS({
          url: 'https://{{domain}}/geoserver/map/wms',
          params: {'LAYERS':'map:CABLES'},
          servertype: 'geoserver'
        })
      });
      cable.setOpacity(1);
      map.addLayer(cable);
      var heberg = new ol.layer.Image({
        source: new ol.source.ImageWMS({
          url: 'https://{{domain}}/geoserver/map/wms',
          params: {'LAYERS':'map:HEBERG'},
          servertype: 'geoserver'
        })
      });
      heberg.setOpacity(1);
      map.addLayer(heberg);
    </script>
  </body>
</html>
