table <webserver> { 127.0.0.1 }
table <geoserver> { 127.0.0.1 }

http protocol "httpproxy" {
  match header append "X-Forwarded-For" value "$REMOTE_ADDR"
  match header append "X-Forwarded-By" value "$REMOTE_ADDR:$SERVER_PORT"
  match header set "Keep-Alive" value "$TIMEOUT"
  tcp { nodelay, sack, socket buffer 65536, backlog 100 }

  return error

  match request path "/geoserver/*" forward to <geoserver>
}

relay "proxy" {
  listen on {{publicip}} port 443 tls
  protocol "httpproxy"

  forward to <webserver> port 80
  forward to <geoserver> port 8080
}

